BasedOnStyle: WebKit
AllowShortFunctionsOnASingleLine: false
ColumnLimit: 100
SortIncludes: false
ReflowComments: false
AllowShortBlocksOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
SpaceBeforeParens: ControlStatementsExceptControlMacros